<h3><%= @question %></h3>

<div class="form-control border border-success border-3 rounded-end">
  <% if @question == "hello" %>
    Hola y buenos días
  <% elsif @question == "what time is it?" %>
    <%= Time.now %>
  <% elsif @question.end_with?("?") %>
    Silly question, get dressed and go to work!
  <% elsif @question == "I am going to work" %>
    Great!
  <% else %>
    I don't care, get dressed and go to work!
  <% end %>
  <br>
  <%= link_to "Ask a new question", ask_path %>
</div>
