<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="mt-5" action="/answer" data-turbo="false">
        <div class="mb-3">
          <input class="form-control border border-success border-3 rounded-end" type="text" name="question" placeholder="Ask a question...">
        </div>
        <div class="mb-3">
          <input class="btn btn-success rounded-end" type="submit" value="Ask!">
        </div>
      </form>
    </div>
  </div>
</div>
